<!DOCTYPE html>
<html lang="en">
    <%- include("D:/ABHISHEK/Web/Node/partials/head.ejs") %>
<body>
    
    <%- include("D:/ABHISHEK/Web/Node/partials/nav.ejs") %>

    <div class="not-found content">
        OOPS page not Found !
    </div>
    <%- include("D:/ABHISHEK/Web/Node/partials/footer.ejs") %>
    
</body>
</html>