<!DOCTYPE html>
<html lang="en">
    <%- include("D:/ABHISHEK/Web/Node/partials/head.ejs") %>
<body>
    <%- include("D:/ABHISHEK/Web/Node/partials/nav.ejs") %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti obcaecati dolorem totam dicta nisi veniam iusto ullam sit omnis, distinctio, labore laborum consequatur, aut nobis consectetur dolore repudiandae natus. Unde.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi alias, fugit in cum recusandae eveniet quas provident debitis modi. Quos repellat ipsam sunt esse totam illum error quis placeat tempora.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In exercitationem fuga, saepe voluptates id, similique commodi a rem quis asperiores ipsam minus quasi harum laboriosam animi culpa quibusdam deserunt distinctio?</p>
    </div>
    <%- include("D:/ABHISHEK/Web/Node/partials/footer.ejs") %>
    
</body>
</html>